workflow:
  auto_cancel:
    on_new_commit: conservative
    on_job_failure: all

default:
  tags:
    - docker-52-1-21
    - rust

clean-docker:
  stage: .pre
  script:
    - docker system prune -a -f --volumes

push-image:
  script:
    - docker build -t "wallguard-server:latest" .
    - docker push "wallguard-server:latest"
