name: Build CI

on:
  push:
    branches: [ main ]
    paths:
      - 'wallguard-server/**'
      - 'wallguard-common/**'
      - 'wallguard/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'wallguard-server/**'
      - 'wallguard-common/**'
      - 'wallguard/**'

jobs:
  build-linux:
    name: Build & Test (Linux)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libpcap-dev protobuf-compiler libpipewire-0.3-dev \
            libpipewire-0.3-modules libspa-0.2-dev libxcb1-dev libxcb-shm0-dev \
            libxcb-randr0-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Build workspace
        run: cargo build --verbose

      - name: Lint
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test -- --nocapture

  build-windows:
    name: Build & Test (Windows)
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          choco install -y npcap
          choco install -y protoc

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Build workspace
        run: cargo build --verbose

      - name: Lint
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test -- --nocapture
