name: Packages CI

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-deb-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Determine version from tag
        id: version
        run: |
          # github.ref is like "refs/tags/v1.2.3"
          TAG=${GITHUB_REF#refs/tags/}
          # strip a leading 'v' if present
          VERSION=${TAG#v}
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "Using version: $VERSION"

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libpcap-dev protobuf-compiler \
            libpipewire-0.3-dev libpipewire-0.3-modules libspa-0.2-dev \
            libxcb1-dev libxcb-shm0-dev libxcb-randr0-dev \
            libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Build .deb package
        run: |
          # pass the version to your script
          ./packbuild.sh deb $VERSION

      - name: Get existing GitHub release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ github.ref }}

      - name: Upload Lionux package to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: "wallguard_${{ env.VERSION }}_amd64.deb"
          asset_name: "wallguard_${{ env.VERSION }}_amd64.deb"
          asset_content_type: application/octet-stream

  build-windows-and-release:
    if: false # TODO: Impleement Windows packaging
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Determine version from tag
        id: version
        run: |
          # PowerShell script to extract version
          $TAG = "${{ github.ref }}" -replace "refs/tags/", ""
          $VERSION = $TAG -replace "^v", ""
          echo "VERSION=$VERSION" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "Using version: $VERSION"

      - name: Install dependencies
        run: |
          choco install -y protoc

          Invoke-WebRequest -Uri "https://npcap.com/dist/npcap-sdk-1.13.zip" -OutFile "C:/npcap-sdk.zip"
          Expand-Archive -LiteralPath C:/npcap-sdk.zip -DestinationPath C:/npcap-sdk
          echo "LIB=C:/npcap-sdk/Lib/x64" >> $env:GITHUB_ENV

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Build Windows package
        run: |
          .\packbuild.bat windows ${{ env.VERSION }}

      - name: Get existing GitHub release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ github.ref }}

      - name: Upload Windows package to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: "wallguard_${{ env.VERSION }}.msi"
          asset_name: "wallguard_${{ env.VERSION }}.msi"
          asset_content_type: application/octet-stream

  build-freebsd-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: FreeBSD, os: freebsd, os-version: '14.3', arch: x86_64 }

    steps:
      - name: Checkout code
        uses: actions/checkout@main
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Determine version from tag
        id: version
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          VERSION=${TAG#v}
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "Using version: $VERSION"

      - name: Install Dependencies and Build FreeBSD package
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: ${{ matrix.platform.os }}
          architecture: ${{ matrix.platform.arch }}
          version: ${{ matrix.platform.os-version }}
          cpu_count: 4
          memory: 16G
          environment_variables: VERSION
          shutdown_vm: false
          sync_files: runner-to-vm
          run: |
            sudo pkg update
            sudo pkg install -y cmake llvm libpcap protobuf bash
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            
            export PATH=$HOME/.cargo/bin:$PATH
            bash ./packbuild.sh freebsd $VERSION

      - name: Sync artifacts back from VM
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: ${{ matrix.platform.os }}
          architecture: ${{ matrix.platform.arch }}
          version: ${{ matrix.platform.os-version }}
          cpu_count: 4
          memory: 16G
          environment_variables: VERSION
          shutdown_vm: true
          sync_files: vm-to-runner
          run: echo "Syncing artifacts"

      - name: Get existing GitHub release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ github.ref }}

      - name: Upload FreeBSD package to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: "wallguard-${{ env.VERSION }}.pkg"
          asset_name: "wallguard-${{ env.VERSION }}.pkg"
          asset_content_type: application/octet-stream
